[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig.personal
[includeIf "gitdir:~/dev/"]
	path = ~/.gitconfig.floqast
[core]
	excludesfile = /Users/martinmam/.gitignore_global
[fetch]
	prune = true
[alias]
	a = add .
	ac = "!git add . && git commit"
	acm = "!git add . && git commit -m"
	acr = "!. ~/.config/gitconfig/.gitHelpers && commit_and_autosquash"
	c = commit
	cm = commit -m
	fm = fetch origin main:main
	fms = "!git fm && git switch main"
	force = push --force-with-lease
	l = "!. ~/.config/gitconfig/.gitHelpers && pretty_git_log"
	p = push
	pb = "!. ~/.config/gitconfig/.gitHelpers && prune_branches"
	rmu = "!. ~/.config/gitconfig/.gitHelpers && remove_untracked_files"
	s = status
	st = stash
	stl = stash list
	stp = stash pop
[init]
	defaultBranch = main
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
