[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig.personal
[includeIf "gitdir:~/.config/"]
	path = ~/.gitconfig.personal
[includeIf "gitdir:~/Exercism/"]
	path = ~/.gitconfig.personal
[includeIf "gitdir:~/dev"]
	path = ~/.gitconfig.floqast
[core]
	excludesfile = ~/.gitignore_global
[fetch]
	prune = true
[alias]
	a = add .
	ac = "!git add . && git commit"
	acm = "!git add . && git commit -m"
	acr = "!git add . && git commit -m 'update' && git rebase -i main"
	acrf = "!git add . && git commit -m 'update' && git rebase -i main && git force"
	c = commit
	cm = commit -m
	fm = fetch origin main:main
	fms = "!git fm && git switch main"
	force = push --force-with-lease
	graph = "!git --no-pager log --oneline --decorate --graph -15"
	l = "!. ~/.config/gitconfig/.gitHelpers && pretty_git_log"
	p = push
	pb = "!. ~/.config/gitconfig/.gitHelpers && prune_branches"
	rmu = "!. ~/.config/gitconfig/.gitHelpers && remove_untracked_files"
	s = status
	st = stash
	stl = stash list
	stp = stash pop
[init]
	defaultBranch = main
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
